.announcementBarContainer{
    display: flex;
    justify-content: center;
    color:white;
    padding: 5px;
    background-color: black;

}

.icon{
    margin-top:3px;
    margin-left: 10px;
}